<div class="container">
    <div class="row">
        <div class="btn-group" role="group" arial-label="Basic mixed style example">
            <a href="/Members/Index" class="btn btn-sm btn-info me-2 rounded">會員中心首頁</a>
            <a href="#" class="btn btn-sm btn-success me-2 rounded">檢視訂單紀錄</a>
            <a href="/Members/EditProfile" class="btn btn-sm btn-primary me-2 rounded">修改個人基本資料</a>
            <a href="/Members/ChangePassword" class="btn btn-sm btn-danger me-2 rounded">修改密碼</a>
        </div>
    </div>
</div>