
@{
    ViewBag.Title = "註冊成功";
}

<h2 class="fw-bolder text-center">註冊確認頁</h2>
<div class="container">
    <div class="alert alert-success" role="alert">
        註冊成功，請前往信箱收取驗證信，並點擊信中連結已完成註冊
    </div>
</div>

